<div class="content-section content-section-body">
    <p-panel header="{{operationText}} model">
        <form (ngSubmit)="submit()" #form="ngForm" class="editForm" novalidate>

            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Content
                </div>
                <div class="ui-g-8">
                    <input pInputText name="content" type="text" />
                </div>
            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Date
                </div>
                <div class="ui-g-8">
                    <p-calendar name="date" [(ngModel)]="model.date" dateFormat="yy-mm-dd"></p-calendar>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Type
                </div>
                <div class="ui-g-8">
                    <p-dropdown name="type" [options]="types" [(ngModel)]="model.type" [style]="{'width':'192px'}"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Activate
                </div>
                <div class="ui-g-8">
                    <div class="ui-g radiobuttons">
                        <label class="ui-widget"><p-radioButton name="activate" value="true" [(ngModel)]="model.activated"></p-radioButton>Yes</label>
                        <label class="ui-widget"><p-radioButton name="activate" value="false" [(ngModel)]="model.activated"></p-radioButton>No</label>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Languages
                </div>
                <div class="ui-g-8">
                    <div class="ui-g">
                        <p-checkbox name="languages" value="en-us" [(ngModel)]="selectedLanguages" label="English (United States)"></p-checkbox>
                        <p-checkbox name="languages" value="en-au" [(ngModel)]="selectedLanguages" label="English (Australia)"></p-checkbox>
                        <p-checkbox name="languages" value="zh-cn" [(ngModel)]="selectedLanguages" label="Chinese (PRC)"></p-checkbox>
                        <p-checkbox name="languages" value="zh-tw" [(ngModel)]="selectedLanguages" label="Chinese (Taiwan)"></p-checkbox>
                    </div>
                </div>
            </div>
            <div>
                <button pButton (click)="cancel($event)" label="Cancel" class="ui-button-secondary"></button>&nbsp;&nbsp;
                <button type="submit" pButton [disabled]="!form.valid" label="Save"></button>
            </div>
        </form>
    </p-panel>
</div>