<p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [contextMenu]="cm">
    <ng-template let-node pTemplate="picture">
        <img [src]="picture.path">
    </ng-template>
    <ng-template let-node pTemplate="default">
        <input *ngIf="isRename && selectedFile === node" [(ngModel)]="node.label" type="text" style="width:100%">
        <span *ngIf="!isRename || isRename && selectedFile !== node">{{node.label}}</span>
    </ng-template>
</p-tree>
<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-dialog header="upload" [(visible)]="display">
    <app-upload [url]="uploadOptions.url" [multiple]="uploadOptions.multiple" [accept]="uploadOptions.accept" [maxFileSize]="uploadOptions.maxFileSize"></app-upload>
</p-dialog>