<div class="layout-wrapper">
    <div id="layout-topbar">
        <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
            <i class="fa fa-bars"></i>
        </a>

        <a href="#" class="logo" [routerLink]="['/']">
            <img alt="logo" src="assets/images/logo.png" />
        </a>

        <ul class="topbar-menu">
            <li class="topbar-menu-themes">
                <a (click)="navToDynamictabsCanvas()"> dynamictabs-canvas</a>
            </li>
            <li class="topbar-menu-themes">
                <a href="#">THEMES</a>
                <ul>
                    <li class="topbar-submenu-header">THEMING</li>
                    <li><a [routerLink]="['./theming']">Guide</a></li>
                    <li class="topbar-submenu-header" style="margin-top:16px">FREE</li>
                    <li><a href="#" (click)="changeTheme($event, 'omega')"><span class="ui-text">Omega</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'bootstrap')"><span class="ui-text">Bootstrap</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'cupertino')"><span class="ui-text">Cupertino</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'cruze')"><span class="ui-text">Cruze</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'darkness')"><span class="ui-text">Darkness</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'flick')"><span class="ui-text">Flick</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'home')"><span class="ui-text">Home</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'kasper')"><span class="ui-text">Kasper</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'lightness')"><span class="ui-text">Lightness</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'ludvig')"><span class="ui-text">Ludvig</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'pepper-grinder')"><span class="ui-text">Pepper-Grinder</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'redmond')"><span class="ui-text">Redmond</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'rocket')"><span class="ui-text">Rocket</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'south-street')"><span class="ui-text">South-Street</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'start')"><span class="ui-text">Start</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'trontastic')"><span class="ui-text">Trontastic</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'voclain')"><span class="ui-text">Voclain</span></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
        <div class="layout-menu">
            <a id="menu_crud" #crudmenutitle [class.active-menuitem]="crudmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === crudmenutitle.id ? null : crudmenutitle.id)">
                <img src="assets/images/icons/file-active.svg" class="layout-menu-icon-active" />
                <img src="assets/images/icons/file.svg" class="layout-menu-icon-inactive" />
                <span>crud</span>
            </a>
            <div [ngClass]="{'submenushow': (crudmenutitle.id == activeMenuId), 'submenuhide': (crudmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/crud']" (click)="menuActive = false"> List</a>
            </div>
            <div [ngClass]="{'submenushow': (crudmenutitle.id == activeMenuId), 'submenuhide': (crudmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/tree-demo']" (click)="menuActive = false"> Tree</a>
            </div>

            <a id="menu_canvas" #canvasmenutitle [class.active-menuitem]="canvasmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === canvasmenutitle.id ? null : canvasmenutitle.id)">
                <img src="assets/images/icons/charts-active.svg" class="layout-menu-icon-active" />
                <img src="assets/images/icons/charts.svg" class="layout-menu-icon-inactive" />
                <span>canvas</span>
            </a>
            <div [ngClass]="{'submenushow': (canvasmenutitle.id == activeMenuId), 'submenuhide': (canvasmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/canvas']" (click)="menuActive = false"> Demo</a>
            </div>

            <a id="menu_dynamictabs" #dynamictabsmenutitle [class.active-menuitem]="dynamictabsmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === dynamictabsmenutitle.id ? null : dynamictabsmenutitle.id)">
                <img src="assets/images/icons/panel-active.svg" class="layout-menu-icon-active" />
                <img src="assets/images/icons/panel.svg" class="layout-menu-icon-inactive" />
                <span>dynamictabs</span>
            </a>
            <div [ngClass]="{'submenushow': (dynamictabsmenutitle.id == activeMenuId), 'submenuhide': (dynamictabsmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/dynamictabs']" (click)="menuActive = false"> Demo</a>
            </div>
            <div [ngClass]="{'submenushow': (dynamictabsmenutitle.id == activeMenuId), 'submenuhide': (dynamictabsmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/tree']" (click)="menuActive = false"> submodule tree</a>
            </div>
        </div>
    </div>

    <div class="layout-mask" *ngIf="menuActive">
    </div>

    <div id="layout-content">
        <div>
            <router-outlet></router-outlet>
        </div>

        <div class="content-section layout-footer clearfix">
            <span><a href="#">Demo</a>, Copyright &copy; 2017</span>
            <div class="footer-links">
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>