<div>
    <button type="button" (click)="type()"><i class="fa fa-text-width" aria-hidden="true"></i></button>
    <button type="button" (click)="line()"><i class="fa fa-minus" aria-hidden="true"></i></button>
    <button type="button" (click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i></button>
    <button type="button" (click)="redo()"><i class="fa fa-repeat" aria-hidden="true"></i></button>
    <button type="button" (click)="clear()"><i class="fa fa-trash" aria-hidden="true"></i></button>
</div>
<canvas id="canvas"></canvas>