<div>
    <button type="button" (click)="clip()"><i class="fa fa-crop" aria-hidden="true"></i></button>
    <button type="button" (click)="type()"><i class="fa fa-text-width" aria-hidden="true"></i></button>
    <button type="button" (click)="draw(1)"><i class="fa fa-minus" aria-hidden="true"></i></button>
    <button type="button" (click)="draw(4)"><i class="fa fa-circle-o" aria-hidden="true"></i></button>
    <button type="button" (click)="draw(5)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    <button type="button" (click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i></button>
    <button type="button" (click)="redo()"><i class="fa fa-repeat" aria-hidden="true"></i></button>
    <button type="button" (click)="clear()"><i class="fa fa-trash" aria-hidden="true"></i></button>
</div>
<canvas #canvasRef id="canvas" width="500" height="500"></canvas>